html {
  background-color: #222;
  background-image: url('../../../assets/background1.jpg');
  font-size: 125%; // 20px
  overflow: hidden; // prevent horizontal scrolling, even on mobile device rotated horizontally
  background-size: cover;
}

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  /* Makes all images become responsive if the parent container wants to shrink */
  display: block;
  /* removes extra padding at bottom of images */
  height: auto;
}