/**************
MEDIA QUERIES
**************/


@media (max-width: 1200px) {

  .container .gameBox {
    width: 60vw;
  }
}

@media(max-width: 1000px) {
  .container .gameBox .screen .display .bottomDisplay {
      flex-direction: column;
    }

  .container .gameBox .screen .display .bottomDisplay .leftScreen {
    width: 80%;
  }

  .container .gameBox .screen .display .bottomDisplay .leftScreen .stats{
    padding: 5%;
    align-items: center;
  }
}

@media (max-width: 768px) {

  .bottomSection {
    padding-top: 20px;
  }
}

@media (max-width: 480px) {

  .container .gameBox {
      width: 80vw;
    }

  .container .gameBox .screen .display {
    height: auto;
  }

    .container .gameBox .screen .display .bottomDisplay .leftScreen .stats {
    padding: 10% 5%;
  }
}


@media (max-width: 420px) {

  .btnCircle {
      width: 40px;
      height: 40px;
    }

    .btnSquare {
      width: 30px;
      height: 30px;
    }

    .lowerHalf {
      .dPad {
        width: 90px;
        height: 90px;

        .btnMiddle .btnCicMid {
          width: 25px;
          height: 25px;
        }
      }

      .buttons {
        width: 80px;
        margin-right: 20px;

        .btnLeft .btnLabel,
        .btnRight .btnLabel {
          left: 40px;
        }
      }
    }

    .bottomSection {
      .optionButtons {
        height: 10%;
        padding-top: 50px;
        justify-content: flex-start;

        .optBtn {
          width: 30px;
          height: 5px;
        }
      }

      .speaker {
        gap: 7px;
        align-self: center;
        margin-left: -40vw;

        .speakerHole {
          height: 70px;

        }
      }
    }
  }

@media (max-width: 320px) {

  h1 {
    font-size: 2.5rem;
    -webkit-text-stroke: 1.5px #165DAD;
  }

  h2{
    font-size: 80%;
  }

  h3 {
    font-size: 0.75rem;
  }

  p {
    font-size: 0.6rem;
  }

  .container .gameBoy {
    width: 90vw;
  }

  .consoleTitle {
    align-self: flex-start;
    padding-left: 20px;
}
}
