h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Pokemon Solid', sans-serif;
  color: yellow;
}

h2,
h3 {
  font-family: 'VT323', monospace;;
}

p,
select {
  font-family: 'VT323', monospace;
}

.button {
  font-family: 'VT323', monospace;
}

h1 {
  font-family: 'VT323', monospace;
  font-size: clamp(2rem, 1.4167rem + 2.9167vw, 3.75rem);
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.1rem;
  line-height: 30px;
  text-align: center;
}

header h3 {
  color: white;
}